{% extends "store/layout.html" %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<h1>Profile</h1>
<div style="text-align:center" class="container">
  <table class="table">
  <tbody>

    <tr>
      <th scope="row">User Name</th>
        <td>{{user.username}}</td>
    </tr>

    <tr>
      <th scope="row">First Name</th>
        <td>{{user.first_name}}</td>
    </tr>
    <tr>
      <th scope="row">Last Name</th>
        <td>{{user.last_name}}</td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>{{user.email}}</td>
    </tr>
  <tr>
      <th scope="row">Phone Number</th>
      <td>{{user.phone_number}}</td>
    </tr>
   <tr>
      <th scope="row">Phone Number</th>
      <td>{{user.birth_date}}</td>
    </tr>
  </tbody>

</table><br>

<a class="btn btn-primary" href="{% url 'edit_profile' %}" role="button">Edit Profile</a>

</div>
{% endblock %}